<h3> {{ title }} </h3>

<button class="btn btn-primary my-3" [routerLink]="['/users/create']"  > Crear Usuario </button>


@if (users.length === 0) {
    <div class="alert alert-warning" > no hay registros en el sisteme </div>
}@else {
    <table class="table table-hover table-striped" >
        <thead>
            <tr>
                <th>nombre</th>
                <th>apellido</th>
                <th>email</th>
                <th>username</th>
                <th>remove</th>
                <th>edit</th>
            </tr>
        </thead>
        <tbody>
            @for (item of users; track $index) {
                <tr>
<!--                     <td>{{ item.id }}</td>
-->                 <td>{{ item.name }}</td>
                    <td>{{ item.lastname }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.username }}</td>
                    <td  > 
                        <button class="btn btn-danger btn-sm"
                        (click)="onRemoveUser(item.id)" >
                            Remove
                        </button>
                    </td>
                    <td  > 
                        <button class="btn btn-info btn-sm"
                        [routerLink]="['/users/edit', item.id  ]" >
                            update
                        </button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

<app-paginator [paginator]="paginator" [url]="pageUrl" ></app-paginator>
