<div class="container my-4" >

    <h3> {{ title }} </h3>

    <button (click)="setOpen()" class="btn btn-primary" > {{open === true? 'Cerrar':'Crear Usuario'}} </button>

    <div class="row">
        @if (open) {

            <div class="col">
                <app-user-form
                [user]="userSelected"
                (newUserEventEmitter)="addUser($event)" ></app-user-form>
            </div>
        }

        <div class="col">
            <app-user [users]="users" 
            (idUserEventEmitter)="removeUser($event)" 
            (selectedUserEventEmitter)="setSelectedUsar($event)"
            ></app-user>

        </div>
    </div>

    
    
</div>